* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* ============== Hero section Home ====================== */
.main {
  position: relative;
}
.hero-section {
  height: 650px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.slide-content {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  z-index: 2;
}
.slide-content-chile-2 {
  position: absolute;
  top: 30%;
  color: white;
  z-index: 2;
  right: 10% !important;
}
.slide-content.animate h2,
.slide-content.animate p,
.slide-content.animate a,
.slide-content.animate > .slide-content-wrapper-p {
  animation: fadeInUp 0.6s ease-in-out;
}

.slide-content h2,
.slide-content p,
.slide-content a,
.slide-content > .slide-content-wrapper-p {
  animation: none;
}

.slide-content-chile-2.animate h2,
.slide-content-chile-2.animate p,
.slide-content-chile-2.animate a,
.slide-content-chile-2.animate > .slide-content-wrapper-p {
  animation: fadeInUp 0.6s ease-in-out;
}

.slide-content-chile-2 h2,
.slide-content-chile-2 p,
.slide-content-chile-2 a,
.slide-content-chile-2 > .slide-content-wrapper-p {
  animation: none;
}

.slide-content h2 {
  font-size: 3rem;
}

.slide-content > .slide-content-wrapper-p {
  font-size: 16px;
}

.slide-content p {
  font-size: 16px;
}

.slide-content a {
  font-size: 16px;
}
.slide-content-chile-2 h2 {
  font-size: 3rem;
}

.slide-content-chile-2 > .slide-content-wrapper-p {
  font-size: 16px;
}

.slide-content-chile-2 p {
  font-size: 16px;
}

.slide-content-chile-2 a {
  font-size: 16px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* darken the image */
  z-index: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.hero-text-customize {
  width: 70px;
  height: 0;
  margin-top: 12px;
  margin-right: 10px;
}

/* ================ End of Hero section of Home ================== */
/* ================ Product Section Home ======================== */

.product .row .col-md-6 {
  height: auto;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}
.product .row a {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: black;
}
.product .row .col-md-6 img {
  width: 60%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease-in-out;
}
.customize-border-product {
  border: 1.6px solid tomato;
  width: 125px;
}
.product .row .col-md-6:hover img {
  transform: scale(1.1);
}
.product .row .col-md-6 h3 {
  transition: 0.3s ease-in-out;
}
.product .row .col-md-6:hover h3 {
  color: tomato;
}
.sofa-product {
  width: 600px !important;
  height: 360px !important;
  object-fit: fill !important;
}
.product3-chiar {
  width: 800px !important;
  height: 580px !important;
  padding-right: 100px !important;
}
/* ================= End of Product Section ===================== */
/* ================= Popular Product Section Home ==================== */
.tab-button {
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid transparent;
}
.tab-button:hover {
  border: 1px solid tomato;
}
.tab-button.active {
  border: 1px solid transparent;
  background-color: tomato;
  color: white;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.popular-product .row .col-md-auto {
  height: auto;
}
.popular-product .row .card:hover img {
  transform: scale(1.05);
  cursor: pointer;
}
.popular-product .row .card:hover a {
  color: tomato;
  cursor: pointer;
}
.popular-product .row .card img {
  width: 310px !important;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  object-position: center;
}
.popular-product .row .card a {
  color: black;
  text-decoration: none;
}
.popular-product .row .card a {
  transition: 0.1s ease-in-out;
}
.popular-product .row .card {
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.popular-product .row .card .cart-btn {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.popular-product .row .card:hover .cart-btn {
  opacity: 1;
}
.popular-product .row .card a:hover {
  background-color: darkslategray;
}

.product-color {
  gap: 5px;
}
.product-color .product-color-customize {
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-color: dodgerblue;
  border-radius: 50%;
}
.product-color .product-color-customize:nth-child(2) {
  background-color: tomato;
}
.product-color .product-color-customize:nth-child(3) {
  background-color: rgb(75, 103, 80);
}
.product-color .product-color-customize:nth-child(4) {
  background-color: rgb(13, 65, 111);
}
.product-color .product-color-customize:nth-child(4) {
  background-color: rgb(13, 65, 111);
}
.product-color .product-color-customize:last-child {
  background-color: rgb(85, 255, 29);
}
/* ================= End of Popular Product Section ================== */
/* ================= Order Product Section ================== */

.order-product .order-absolute {
  right: 7%;
  top: 20%;
}
.order-product .order-absolute a {
  border: 1px solid darkslategrey;
  padding: 5px 18px;
  transition: 0.1s ease-in-out;
}
.order-product .order-absolute a:hover {
  border: 1px solid transparent;
  color: white;
  background-color: tomato !important;
}
.order-product .col-md-4 {
  /* width: 32.33%; */
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.order-product .col-md-4 img {
  transition: 0.3s ease-in-out;
}
.order-product .col-md-4:hover img {
  transform: scale(1.1);
}
.order-product .col-md-4:hover h3 {
  color: tomato;
}
.order-product .col-md-4 img {
  width: 350px;
  height: auto;
  margin-left: -30px;
}
.order-product .col-md-4 .last-order-img {
  width: 280px !important;
  height: auto !important;
}
/* ================= End of Order Product Section ================== */
/* ================= New Product Section ================== */
.new-product .new-product-line {
  width: 480px;
  height: 1.6px;
  background-color: rgb(196, 196, 196);
}
.new-product .new-product-line-1 {
  width: 300px;
  height: 1.6px;
  background-color: rgb(196, 196, 196);
  margin-top: 68px;
}
.new-product .cusomize-line-wrapper-new-product h2 {
  padding-bottom: 20px;
}
.new-product .count-down-new-product h5 {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
}
.new-product .col-md-4 {
  position: relative;
}
.new-product .count-order-btn {
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
.new-product .count-order-btn a:hover {
  background-color: tomato !important;
  color: white;
}
.new-product .col-md-4 .count-img-customize-new-product {
  width: 100%;
  margin-top: -50px;
}
.new-product .col-md-8 .col-md-4 .card .card-body a {
  text-decoration: none;
  color: black;
  transition: 0.1s ease-in-out;
}
.new-product .col-md-8 .col-md-4 .card .card-body a:hover {
  color: tomato;
}
.new-product .col-md-8 .col-md-4 .card .card-body .cart-btn-new-pro {
  right: 5%;
  opacity: 0;
  bottom: 22%;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.new-product .col-md-8 .col-md-4 .card:hover .cart-btn-new-pro {
  opacity: 1;
}
.new-product .col-md-8 .col-md-4 .card .card-body .cart-btn-new-pro a {
  font-size: 10px !important;
}
/* =================  End of New Product Section ================== */
/* =================  Feedback Product Section ================== */
.feedback-product .col-md-6 img {
  width: 100%;
}
.swiper2 {
  width: 100% !important;
  height: 100%;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.feedback-product .feed-back-card-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.feedback-product .swiper-slide2 .card {
  width: 303px !important;
  border: none;
}
.feedback-product .feed-back-card-header .feedback-star i {
  color: rgb(189, 189, 20);
  font-size: 13px;
}

.feedback-product .feed-back-card-header h5 {
  font-size: 18px;
  font-weight: 500;
}
.feedback-product .feed-back-card-header p {
  font-size: 12px;
  font-style: italic;
  color: rgb(137, 134, 134);
}
.feedback-product .feedback-content p {
  font-size: 16px;
}
/* =================  End of Feedback Product Section ================== */
/* =================  Latest Blog Section ================== */
.swiper3 {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.latest-blog .swiper3:hover .swiper-button-next {
  opacity: 1;
}
.latest-blog .swiper3:hover .swiper-button-prev {
  opacity: 1;
}
.latest-blog .swiper3 .swiper-button-prev {
  left: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.latest-blog .swiper3 .swiper-button-prev::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
.latest-blog .swiper3 .swiper-button-next {
  right: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.latest-blog .swiper3 .swiper-button-next::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
.author-name p {
  font-size: 13px;
}
.author-name p > i {
  color: tomato;
}
.blog-content-home a p {
  transition: 0.2s ease-in-out;
}
.blog-content-home a:hover p {
  color: tomato;
}

.latest-blog .col-3 .card .blog-cover img {
  transition: 0.2s ease-in-out;
}
.latest-blog .col-3 .card:hover .blog-cover > img {
  transform: scale(1.1);
}
.latest-blog .col-3 .card {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.latest-blog .col-3 .card .card-body .blog-btn-read a {
  font-size: 14px;
}

/* =================  End of  Latest Blog Section ================== */
/* =================  Footer Section ================== */
footer {
  width: 100%;
  height: auto;
  background-image: url(../img/footer-bg.webp);
  background-position: center;
  background-size: cover;
}
footer .social-footer i {
  padding: 0 10px;
  color: tomato;
  font-size: 25px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
footer .social-footer i:hover {
  color: darkslategray;
}
footer .quick-link-footer ul li {
  list-style: none;
  padding: 6px 0;
  margin-left: -26px;
}
footer .account-info-footer ul li {
  list-style: none;
  padding: 6px 0;
  margin-left: -26px;
}
footer .new-letter-footer-form form {
  height: 45px;
  background-color: white;
  padding: 5px;
  padding-left: 10px;
  font-size: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
footer .new-letter-footer-form form input {
  border: none;
}
footer .new-letter-footer-form form button {
  border: none;
  background-color: tomato;
  font-size: 13px;
  color: white;
  padding: 8px;
  border-radius: 3px;
}
footer .new-letter-footer-form form button i {
  font-size: 10px;
}
footer .new-letter-footer-form form input:focus {
  outline: none;
  border: none;
  box-shadow: none; /* Optional: remove shadow if any */
}

/* =================  End of  Footer Section ================== */
/* ================= Product Detial Page ====================== */
/* ================= Product Detial Hero Section ====================== */
.hero-detail-product {
  background-image: url(../img/product-detail-hero-bg.jpg);
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.hero-detail-product .hero-pro-detail-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.hero-detail-product .decor-product-detail-hero {
  width: 20px;
  background-color: rgb(191, 247, 247);
  height: 2px;
  margin: 0 15px;
}

/* ================= End Product Detial Hero Section ====================== */
/* ================= More Product Detial Hero Section ====================== */

.swiper4 {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.more-detail-product .swiper4:hover .swiper-button-next {
  opacity: 1;
}
.more-detail-product .swiper4:hover .swiper-button-prev {
  opacity: 1;
}
.more-detail-product .swiper4 .swiper-button-prev {
  left: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.more-detail-product .swiper4 .swiper-button-prev::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
.more-detail-product .swiper4 .swiper-button-next {
  right: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.more-detail-product .swiper4 .swiper-button-next::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}

.more-detail-product .swiper-slide4 .card {
  border-radius: 0;
  padding: 10px;
}
.more-detail-product .swiper-slide4 .card img {
  border-radius: 0;
}
.more-detail-product .swiper4 .swiper-slide4 {
  cursor: pointer;
}
.more-detail-product .feedback-product-star i {
  padding: 0 3px;
  font-size: 13px;
  color: orange;
  margin-top: -17px;
}
.more-detail-product .more-detail-desc {
  font-size: 17.5px;
}
.more-product-color .more-product-color-customize {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: dodgerblue;
  border-radius: 50%;
  margin-right: 8px;
}
.more-product-color .more-product-color-customize:nth-child(2) {
  background-color: tomato;
}
.product-color .more-product-color-customize:nth-child(3) {
  background-color: rgb(75, 103, 80);
}
.more-product-color .more-product-color-customize:nth-child(4) {
  background-color: rgb(13, 65, 111);
}
.more-product-color .more-product-color-customize:nth-child(4) {
  background-color: rgb(13, 65, 111);
}
.more-product-color .more-product-color-customize:last-child {
  background-color: rgb(85, 255, 29);
}
.button-group {
  display: flex;
  gap: 10px;
}

.select-btn-weight {
  padding: 6px 16px;
  border: 2px solid transparent;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.select-btn-weight.active {
  border: 2px solid #000;
  background-color: tomato;
  color: white;
}
.counter-container {
  width: 119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

.counter-btn {
  padding: 6px 15px;
  border: none;
  font-size: 18px;
  background-color: #dfdfdf;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.counter-btn:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid rgb(130, 164, 176);
}
.counter-btn:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 1px solid rgb(130, 164, 176);
}

.counter-btn:hover {
  background-color: #f0f0f0;
}

.counter-btn:active {
  background-color: #e0e0e0;
}

.counter-value {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}
.more-detail-product .add-to-cart-detail-pro a {
  background-color: tomato;
  color: white;
  padding: 6px 20px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.more-detail-product .add-to-cart-detail-pro a:hover {
  background-color: darkslategray;
}
.more-detail-product .add-wishlist-detail-product a {
  transition: 0.2s ease-in-out;
  font-size: 17px;
}
.more-detail-product .add-wishlist-detail-product a:hover {
  color: tomato !important;
}
.more-detail-product .buy-detail-product-btn a {
  background-color: tomato;
  color: white;
  transition: 0.2s ease-in-out;
}
.more-detail-product .buy-detail-product-btn a:hover {
  background-color: darkslategray;
}
/* ================= End More Product Detial Hero Section ====================== */
/* ================= End Product Detial Page ====================== */
/* ================= Shop Product Page ====================== */
.hero-shop-product {
  background-image: url(../img/product-detail-hero-bg.jpg);
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}
.hero-shop-product .hero-pro-shop-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.hero-shop-product .decor-product-shop-hero {
  width: 20px;
  background-color: rgb(191, 247, 247);
  height: 2px;
  margin: 0 15px;
}

.shop-section .first-div-shop-col-3 {
  padding: 20px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.shop-section .first-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.shop-section .first-div-shop-col-3 h3 {
  color: tomato;
}

.shop-section .search-item-shop-page form input {
  border: 1px solid lightgray;
  height: 45px;
  padding-left: 5px;
  padding-right: 3px;
  border-right: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s ease-in-out;
}
.shop-section .search-item-shop-page form button {
  border: none;
  background-color: tomato;
  padding: 3px 8px;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.shop-section .search-item-shop-page form input:focus {
  border: 1px solid tomato;
  border-right: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.shop-section .second-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.shop-section .second-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.shop-section .second-div-shop-col-3 h3 {
  color: tomato;
}
.shop-section .shop-select-product-wrapper {
  list-style: none;
}

.shop-section .shop-select-product-wrapper .item-select-main {
  border: 1px solid #e0e0e0;
  margin-left: -30px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.item-select-main label {
  cursor: pointer;
  padding: 5px 0;
}
.shop-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper {
  list-style: none;
}
.small-selct-pro-wrapper {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
  cursor: pointer;
}
.small-selct-pro-wrapper.active {
  opacity: 1;
  max-height: 500px;
}
.shop-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select {
  border: 1px solid #e0e0e0;
  margin-left: -33px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.shop-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a {
  text-decoration: none;
  color: black;
}
.shop-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a
  div {
  padding: 5px 0;
}
.shop-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a
  span {
  padding-left: 10px;
}
.select-shop-icon {
  transform: rotate(0deg);
  transition: transform 0.16s ease-in-out, padding 0.1s ease-in-out;
}
.select-shop-icon.active {
  transform: rotate(180deg);
  padding-left: 16px;
}
.shop-section .third-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.shop-section .third-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.shop-section .third-div-shop-col-3 h3 {
  color: tomato;
}
.shop-section .fouth-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.shop-section .fouth-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.shop-section .fouth-div-shop-col-3 h3 {
  color: tomato;
}
.shop-section .list-wrapper-Dietary-Needs {
  list-style: none;
}
.shop-section .list-wrapper-Dietary-Needs .list-wrapper-Dietary-Needs-item {
  padding: 10px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.list-wrapper-Dietary-Needs-item label {
  cursor: pointer;
}
.radio-customize-shop {
  display: none; /* Hide native checkbox */
}
.radio-customize-shop {
  display: none;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  position: relative;
}

.radio-customize-shop:checked ~ .checkmark {
  background-color: tomato;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.radio-customize-shop:checked ~ .checkmark::after {
  display: block;
}

.shop-section .fift-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.shop-section .fift-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.shop-section .fift-div-shop-col-3 h3 {
  color: tomato;
}
.shop-section .top-rated-pro-item img {
  width: 80px;
  height: auto;
}
.shop-section .top-rated-pro-item .product-color {
  margin-left: -11px;
}
.shop-section .top-rated-pro-item span {
  color: tomato;
}
.shop-section .top-rated-pro-item img {
  transition: 0.2s ease-in-out;
}
.shop-section .top-rated-pro-item:hover img {
  transform: scale(1.2);
}
.shop-section .top-rated-pro-item .top-rated-pro-item-child a {
  transition: 0.2s ease-in-out;
}
.shop-section .top-rated-pro-item .top-rated-pro-item-child a:hover {
  color: tomato !important;
}
.shop-section .first-child-shop-col-9 {
  background-color: rgb(236, 248, 248);
  padding: 10px 20px;
  border-radius: 6px;
}
.shop-section .first-child-shop-col-9 .first-child-shop-col-9-item select {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.shop-section
  .first-child-shop-col-9
  .first-child-shop-col-9-item
  select:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid transparent;
}
.tab-shop-button {
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid transparent;
}
.tab-shop-button:hover {
  border: 1px solid tomato;
}
.tab-shop-button.active {
  border: 1px solid transparent;
  background-color: tomato;
  color: white;
}
.tab-shop-content {
  display: none;
}
.tab-shop-content.active {
  display: block;
}
.shop-section .tab-shop-content .card .add-cart-btn-shop-list a {
  background-color: tomato;
  font-size: 15px;
  padding: 5px 17px;
  border-radius: 3px;
  color: white;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.shop-section .tab-shop-content .card:hover .add-cart-btn-shop-list a {
  opacity: 1;
}
.shop-section .tab-shop-content .card .product-list-cover img {
  transition: 0.2s ease-in-out;
}
.shop-section .tab-shop-content .card .pro-name-shop-list {
  transition: 0.2s ease-in-out;
}
.shop-section .tab-shop-content .card .pro-name-shop-list:hover {
  color: tomato !important;
}
.shop-section .tab-shop-content .card:hover .product-list-cover img {
  transform: scale(1.1);
}
.shop-section .pagination-list-product-shop ul {
  list-style: none;
}
.shop-section .pagination-list-product-shop ul li {
  cursor: pointer;
  padding: 10px 18px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.shop-section .pagination-list-product-shop ul li:hover {
  background-color: tomato;
}
.shop-section .pagination-list-product-shop ul li:hover a {
  color: white !important;
}
.shop-section .pagination-list-product-shop ul li.active {
  background-color: tomato;
}
.shop-section .pagination-list-product-shop ul li.active a {
  color: white !important;
}
.shop-section .pagination-list-product-shop ul li a {
  text-decoration: none;
  color: darkslategray;
}
.tab-shop-content .product-list-col-wrapper-item {
  height: auto;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgb(210, 210, 210);
}
.tab-shop-content .product-list-col-wrapper-item .col-8 {
  padding: 15px;
  padding-left: 28px;
}
.tab-shop-content
  .product-list-col-wrapper-item
  .col-8
  .product-list-col-content {
  padding-left: 15px !important;
}
.tab-shop-content .product-list-col-wrapper-item .product-list-col-cover img {
  width: 250px;
}
.tab-shop-content .product-list-col-wrapper-item .col-4 h4 {
  color: tomato;
  margin-bottom: 10px;
}
.tab-shop-content .product-list-col-wrapper-item .col-4 i {
  font-size: 11px;
  padding: 0 4px;
  color: orange;
}
.tab-shop-content .product-list-col-wrapper-item .col-4 .star-rate-amount-shop {
  font-size: 14px;
}
.tab-shop-content
  .product-list-col-wrapper-item
  .col-4
  .product-list-col-btn-add-cart
  a {
  border: 1px solid tomato;
  padding: 10px 40px;
  color: tomato;
  border-radius: 3px;
}
.tab-shop-content
  .product-list-col-wrapper-item
  .col-4
  .product-list-col-btn-add-cart
  a:hover {
  border: 1px solid transparent;
  color: rgb(255, 255, 255);
  background-color: tomato;
}
.tab-shop-content
  .product-list-col-wrapper-item
  .col-4
  .product-list-col-btn-add-cart
  a:hover
  i {
  color: rgb(255, 255, 255);
}
.tab-shop-content
  .product-list-col-wrapper-item
  .col-4
  .product-list-col-btn-add-cart
  a
  > i {
  font-size: 18px;
  padding-right: 10px;
}
.shop-section
  .tab-shop-content
  .product-list-col-wrapper-item
  .product-list-col-cover
  img {
  transition: 0.2s ease-in-out;
}
.shop-section
  .tab-shop-content
  .product-list-col-wrapper-item:hover
  .product-list-col-cover
  img {
  transform: scale(1.1);
}
.shop-section
  .tab-shop-content
  .product-list-col-wrapper-item
  .socail-action-product-list-col
  i {
  font-size: 22px;
}
/* ================= End Shop Product Page ====================== */
/* ================= cart checkout Shop Product Page ====================== */
.cart-checkout .row .col-8 .col-12 .cancel-btn-cart i {
  background-color: rgb(255, 255, 255);
  padding: 10px 13px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  font-size: 17px;
}
.cart-checkout .row .col-8 .col-12 .cart-cover-checkout img {
  width: 100px;
  border-radius: 6px;
  margin: 0 15px;
}
.cart-checkout .row .col-8 .col-12 .cart-content-text {
  font-size: 13px;
}
.cart-checkout .row .col-8 .col-12 .cart-content-text p:first-child {
  font-size: 16px;
}
.cart-checkout .row .col-4 .redeme-coupon input {
  font-size: 15px !important;
  transition: 0.2s ease-in-out;
  border: 1px solid rgb(220, 220, 220) !important;
}
.cart-checkout .row .col-4 {
  position: sticky !important;
  top: 0 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  height: 570px !important;
}
.cart-checkout .row .col-4 .redeme-coupon button {
  background-color: tomato;
  color: white;
  padding: 7px 20px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.cart-checkout .row .col-4 .redeme-coupon button:hover {
  background-color: darkslategray;
  color: white;
}
.cart-checkout .row .col-4 .add-check-btn-cart button {
  background-color: tomato;
  color: white;
  padding: 7px 20px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
.cart-checkout .row .col-4 .add-check-btn-cart button:hover {
  background-color: darkslategray;
  color: white;
}
.cart-checkout .row .col-4 .redeme-coupon input:focus {
  outline: none;
  box-shadow: rgba(248, 91, 25, 0.2) 0px 7px 29px 0px;
}

.cart-checkout .row .col-4 .text-area-cart textarea {
  resize: none;
  height: 90px;
  font-size: 15px !important;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220) !important;
  transition: 0.2s ease-in-out;
}
.cart-checkout .col-4 .text-area-cart textarea:focus {
  outline: none;
  box-shadow: rgba(248, 91, 25, 0.2) 0px 7px 29px 0px;
}
.new-product-cart-checkout .col-auto {
  width: 18.8%;
  height: auto;
}
.new-product-cart-checkout .card:hover img {
  transform: scale(1.05);
  cursor: pointer;
}
.new-product-cart-checkout .card:hover a {
  color: tomato;
  cursor: pointer;
}
.new-product-cart-checkout .card img {
  transition: 0.3s ease-in-out;
}
.new-product-cart-checkout .card a {
  color: black;
  text-decoration: none;
}
.new-product-cart-checkout .card a {
  transition: 0.1s ease-in-out;
}
.new-product-cart-checkout .card {
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.new-product-cart-checkout .card .cart-btn {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-cart-checkout .card:hover .cart-btn {
  opacity: 1;
}
.new-product-cart-checkout .card a:hover {
  background-color: darkslategray;
}
.new-product-cart-checkout .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.swiper6 {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.new-product-cart-checkout .swiper6:hover .swiper-button-next {
  opacity: 1;
}
.new-product-cart-checkout .swiper6:hover .swiper-button-prev {
  opacity: 1;
}
.new-product-cart-checkout .swiper6 .swiper-button-prev {
  left: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-cart-checkout .swiper6 .swiper-button-prev::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
.new-product-cart-checkout .swiper6 .swiper-button-next {
  right: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-cart-checkout .swiper6 .swiper-button-next::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
/* ================= End cart checkout Shop Product Page ====================== */
/* =================  wishlist Shop Product Page ====================== */
.wishlist .row .col-12 .col-12 .cancel-btn-cart i {
  background-color: rgb(255, 255, 255);
  padding: 10px 13px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  font-size: 17px;
}
.wishlist .row .col-12 .col-12 .cart-cover-checkout img {
  width: 100px;
  border-radius: 6px;
  margin: 0 15px;
}
.wishlist .row .col-12 .col-12 .cart-content-text {
  font-size: 13px;
}
.wishlist .row .col-12 .col-12 .cart-content-text p:first-child {
  font-size: 16px;
}
.wishlist .row .col-12 .col-12 .wishlist-content a {
  font-size: 16px;
  background-color: tomato;
  color: white;
  padding: 8px 30px;
  border-radius: 3px !important;
  transition: 0.2s ease-in-out;
}
.wishlist .row .col-12 .col-12 .wishlist-content a:hover {
  background-color: darkslategray;
}

.new-product-wishlist .col-auto {
  width: 18.8%;
  height: auto;
}
.new-product-wishlist .card:hover img {
  transform: scale(1.05);
  cursor: pointer;
}
.new-product-wishlist .card:hover a {
  color: tomato;
  cursor: pointer;
}
.new-product-wishlist .card img {
  transition: 0.3s ease-in-out;
}
.new-product-wishlist .card a {
  color: black;
  text-decoration: none;
}
.new-product-wishlist .card a {
  transition: 0.1s ease-in-out;
}
.new-product-wishlist .card {
  width: 100%;
  height: 480px;
  overflow: hidden;
}
.new-product-wishlist .card .cart-btn {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-wishlist .card:hover .cart-btn {
  opacity: 1;
}
.new-product-wishlist .card a:hover {
  background-color: darkslategray;
}
.new-product-wishlist .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.new-product-wishlist .swiper6:hover .swiper-button-next {
  opacity: 1;
}
.new-product-wishlist .swiper6:hover .swiper-button-prev {
  opacity: 1;
}
.new-product-wishlist .swiper6 .swiper-button-prev {
  left: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-wishlist .swiper6 .swiper-button-prev::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}
.new-product-wishlist .swiper6 .swiper-button-next {
  right: -1.3%;
  top: 45%;
  z-index: 22;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.new-product-wishlist .swiper6 .swiper-button-next::after {
  font-size: 25px;
  background-color: tomato;
  color: white;
  padding: 10px 17px;
  border-radius: 50%;
}

/* =================  End of wishlist Shop Product Page ====================== */
/* =================  Blog Product Page ====================== */
.blog-section .pagination-list-product-shop ul {
  list-style: none;
}
.blog-section .pagination-list-product-shop ul li {
  cursor: pointer;
  padding: 10px 18px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.blog-section .pagination-list-product-shop ul li:hover {
  background-color: tomato;
}
.blog-section .pagination-list-product-shop ul li:hover a {
  color: white !important;
}
.blog-section .pagination-list-product-shop ul li.active {
  background-color: tomato;
}
.blog-section .pagination-list-product-shop ul li.active a {
  color: white !important;
}
.blog-section .pagination-list-product-shop ul li a {
  text-decoration: none;
  color: darkslategray;
}
.blog-section .first-child-shop-col-9 {
  background-color: rgb(236, 248, 248);
  padding: 10px 20px;
  border-radius: 6px;
  margin: 40px 0;
}
/* =================  Blog Product Page ====================== */
/* =================  Blog Details Product Page ====================== */
.blogDetail-section .first-div-shop-col-3 {
  padding: 20px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.blogDetail-section .first-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.blogDetail-section .first-div-shop-col-3 h3 {
  color: tomato;
}

.blogDetail-section .search-item-shop-page form input {
  border: 1px solid lightgray;
  height: 45px;
  padding-left: 5px;
  padding-right: 3px;
  border-right: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s ease-in-out;
}
.blogDetail-section .search-item-shop-page form button {
  border: none;
  background-color: tomato;
  padding: 3px 8px;
  color: white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.blogDetail-section .search-item-shop-page form input:focus {
  border: 1px solid tomato;
  border-right: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blogDetail-section .second-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.blogDetail-section .second-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.blogDetail-section .second-div-shop-col-3 h3 {
  color: tomato;
}
.blogDetail-section .shop-select-product-wrapper {
  list-style: none;
}

.blogDetail-section .shop-select-product-wrapper .item-select-main {
  border: 1px solid #e0e0e0;
  margin-left: -30px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.item-select-main label {
  cursor: pointer;
  padding: 5px 0;
}
.blogDetail-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper {
  list-style: none;
}
.blogDetail-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select {
  border: 1px solid #e0e0e0;
  margin-left: -33px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.blogDetail-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a {
  text-decoration: none;
  color: black;
}
.blogDetail-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a
  div {
  padding: 5px 0;
}
.blogDetail-section
  .shop-select-product-wrapper
  .item-select-main
  .small-selct-pro-wrapper
  .small-item-select
  a
  span {
  padding-left: 10px;
}

.blogDetail-section .third-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.blogDetail-section .third-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.blogDetail-section .third-div-shop-col-3 h3 {
  color: tomato;
}
.blogDetail-section .fouth-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.blogDetail-section .fouth-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.blogDetail-section .fouth-div-shop-col-3 h3 {
  color: tomato;
}
.blogDetail-section .list-wrapper-Dietary-Needs {
  list-style: none;
}
.blogDetail-section
  .list-wrapper-Dietary-Needs
  .list-wrapper-Dietary-Needs-item {
  padding: 10px 15px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.blogDetail-section .fift-div-shop-col-3 {
  padding: 12px;
  padding-top: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.blogDetail-section .fift-div-shop-col-3 img {
  width: 50px;
  height: auto;
}
.blogDetail-section .fift-div-shop-col-3 h3 {
  color: tomato;
}
.blogDetail-section .top-rated-pro-item img {
  width: 80px;
  height: auto;
}
.blogDetail-section .top-rated-pro-item .product-color {
  margin-left: -11px;
}
.blogDetail-section .top-rated-pro-item span {
  color: tomato;
}
.blogDetail-section .top-rated-pro-item img {
  transition: 0.2s ease-in-out;
}
.blogDetail-section .top-rated-pro-item:hover img {
  transform: scale(1.2);
}
.blogDetail-section .top-rated-pro-item .top-rated-pro-item-child a {
  transition: 0.2s ease-in-out;
}
.blogDetail-section .top-rated-pro-item .top-rated-pro-item-child a:hover {
  color: tomato !important;
}
.blogDetail-section .first-child-shop-col-9 {
  background-color: rgb(236, 248, 248);
  padding: 10px 20px;
  border-radius: 6px;
}
.blogDetail-section
  .first-child-shop-col-9
  .first-child-shop-col-9-item
  select {
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.blogDetail-section
  .first-child-shop-col-9
  .first-child-shop-col-9-item
  select:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid transparent;
}
/* ================= End  Blog Details Product Page ====================== */
.bottom-nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: fixed;
  bottom: 0%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.bottom-nav ul li {
  list-style: none;
  padding: 15px 5px;
}
.bottom-nav ul li a i {
  background-color: tomato;
  color: white;
  padding: 10px;
  border-radius: 50%;
}
.bottom-nav ul {
  margin: auto;
  width: 100%;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.bottom-nav ul li a label{
 font-size: 12px;
 margin-top: 5px;
}
@media only screen and (max-width: 576px) {
  .new-product .new-product-line {
    width: 210px;
    height: 1.6px;
    background-color: rgb(196, 196, 196);
  }
  .new-product .new-product-line-1 {
    width: 300px;
    height: 1.6px;
    background-color: rgb(196, 196, 196);
    margin-top: 62px;
  }
  .new-product .cusomize-line-wrapper-new-product h2 {
    padding-bottom: 20px;
  }
  .product .row .col-md-6 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
  }
  .product3-chiar {
    width: 350px !important;
    height: 280px !important;
    padding-right: 0px !important;
    padding-left: 50px;
  }
  .sofa-product {
    width: 400px !important;
    height: 200px !important;
    object-fit: fill !important;
  }
  .popular-product .row .card img {
    width: 100% !important;
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
  .popular-product .row .card {
    height: 400px;
  }
  .popular-product .tabs {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .popular-product .row .card .cart-btn {
    opacity: 1;
  }
  .new-product .col-md-8 .col-md-4 .card .card-body .cart-btn-new-pro {
    left: 5%;
    opacity: 1;
    bottom: -5%;
  }
  .new-product .row .col-6 .card {
    padding-bottom: 30px;
  }
  .new-product .count-order-btn {
    left: 50%;
    top: 30%;
  }
  .new-product .col-12 h4 {
    color: tomato;
    padding-top: 20px;
  }
  .swiper-slide img {
    object-fit: cover;
    display: block;
    height: 340px;
    width: 100%;
    object-position: center;
  }
  .swiper .slide-content {
    height: auto;
    text-align: center !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: 10%;
  }
  .hero-section {
    height: auto;
  }
  .swiper .slide-content p {
    font-size: 11px;
  }
  .swiper .slide-content h2 {
    font-size: 22px;
  }
  .swiper .swiper-slide {
    object-fit: cover;
    display: block;
    height: 340px;
    width: 100%;
    object-position: center;
  }
  .hero-text-customize {
    display: none;
  }
  .slide-content-chile-2 p {
    font-size: 11px;
  }
  .slide-content-chile-2 h2 {
    font-size: 22px;
  }
  .hero-section .swiper .swiper-button-prev {
    display: none;
  }
  .hero-section .swiper .swiper-button-next {
    display: none;
  }

  .feedback-product .swiper-slide2 {
    width: 100% !important;
    border: none;
  }
  .feedback-product .swiper-slide2 .card {
    width: 100% !important;
  }
  .latest-blog .swiper3 .swiper-button-prev {
    left: 0%;
    top: 51%;
    opacity: 1;
  }
  .latest-blog .swiper3 .swiper-button-prev::after {
    font-size: 20px;
    padding: 10px 15px;
  }
  .latest-blog .swiper3 .swiper-button-next {
    right: 0%;
    top: 51%;
    opacity: 1;
  }
  .latest-blog .swiper3 .swiper-button-next::after {
    font-size: 20px;
    padding: 10px 15px;
  }
}
